%ic {
	font-family: "icons" !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}
._icon-phone:before {
	content: "\e904";
 }
 ._icon-lang:before {
	content: "\e902";
 }
 ._icon-insta:before {
	content: "\e903";
 }
 ._icon-bag:before {
	content: "\e900";
 }
 ._icon-arrow-right:before {
	content: "\e901";
 }
 
