// Заголовки, загальні БЕМ блоки та інше...
.page {
   // .page__welcom
   &__welcom {
   }

   // .page__coffee
   &__coffee {
   }

   // .page__workers
   &__workers {
   }

   // .page__map
   &__map {
   }
}
.first-page{
   max-height: 100vh;
   // overflow: hidden;
}
//========================================================================================================================================================
.menu {
   // .menu__body
   &__body {
      @media (max-width: rem(1020)){
         position: absolute;
         left: 0;
         top: 0;
         left: -100%;
         // z-index: 2;
         width: 100%;
         padding-top: rem(150);
         background-color: #14110e;
         height: 100%;
         transition: all 0.3s ease 0s;
      }
   }
}

.menu-open{
   .menu {
      // .menu__body
      &__body {
         @media (max-width: rem(1020) ){
            left: 0;
            padding-left: rem(25);
            font-size: rem(36);
            line-height: math.div(48 , 36);
         }
      }
      // .menu__list
      &__list {
         li{
            &:not(:last-child) {
               margin-bottom: rem(30);
            }
         }
      }
   }
}

.actions-flex{
   @media (max-width: rem(1020)){
      display: flex;
      @include adaptiveValue("gap", 40, 25);
      align-items: center;
   }
}

.c-icon {
   --star-active: #000;
   --star-inactive: #6c6962;
   fill: var(--star-inactive);
}

.c-icon.active {
   fill: var(--star-active);
}

//========================================================================================================================================================

.product__size{
   display: flex;
}
.smart-basket__alert-wrapper{
   z-index: 5;
   position: absolute;
}
.smart-basket__form{
   color: #000 ;
}
.product-block__title .product-block__back-price{
   display: inline-block;
   border: none;
}

// .tabs__body-block_hover-price{
//    .product-block__back-price{
//       border: none;
//       padding: rem(0);
//       color: #000;
//    }
// }
// .product-block__back-price{
//    color: #000;
//    text-decoration: underline;
// }

// .tabs__body-block_hover-price__item{
//    display: flex;
// }
.products{

   .tabs__body-block_hover-price__item{
      &:nth-child(2n){
         color: #fff;
         text-decoration: none;
      }
   }
   
   input.smart-basket__product-quantity-state{
      order: 1;
   
      border: 1px solid #000 ;
   
      padding: 16px 20px;
      background: 0 0;
      width: 69px;
      height: 52px;
      font-size: 24px;
      border-radius: 11px 11px 11px 20px;
      text-align: center;
      color: #000;
   
      margin-right: 20px;
   }
   button.smart-basket__remove-item{
      order: 2;
   
      width: 64px;
      height: 3px;
      padding: 25px 20px;
      border-radius: 11px 0 0 11px;
   
      border: 1px solid #000 ;
   }
   button.smart-basket__add-item{
      order: 3;
      width: 64px;
      height: 20px;
      padding: 25px 21px 25px 21px;
      border-radius: 0 11px 11px 0;
   
      border: 1px solid #000 ;
   }
}
.smart-basket__min{
   position: relative;
}
.smart-basket__min-count{
   position: absolute;
   bottom: -25%;
   right: -50%;
   @include adaptiveValue("font-size", 18, 12);
}

div.tabs__body-block_hover-price__item{
   display: flex;
   color: rgba(0, 0, 0, 0.80);
   border-bottom: rem(2) solid rgba(0, 0, 0, 0.80);
   p{
      border: none;
      padding: 0;
   }
   span{
      padding-left: rem(10);
   }
}

//========================================================================================================================================================

.tabs__body-block{
   .product__quantity{
      display: none;
   }
}
//========================================================================================================================================================
.workers {
   // .workers__container
   &__container {
   }
   // .workers__volodimr
   &__volodimr {
   }
   // .workers__cart
   &__cart {
      &:nth-child(2n+1){
         @media (max-width:$tablet){
            .workers__position{
               width: 100%;
               display: flex;
               justify-content: flex-end;
            }

            .workers__contente{
               gap: rem(30);
               grid-template-columns: 1fr 5fr;
            }


         }
      }
   }
   // .workers__title
   &__title {
   }
   // .workers__name
   &__name {
   }
   // .workers__position
   &__position {
   }
   // .workers__contente
   &__contente {
      grid-template-columns: 1fr 3fr;
      // .workers__contente_second
      &_second {
         .workers__image{
            @media (max-width:$tablet){
               justify-content: end;
            }
         }
      }
   }
   // .workers__image
   &__image {
      @media (max-width:$tablet){
         display: flex;
         width: 100%;
         justify-content: center;
         margin-bottom: rem(15);
      }
   }
   // .workers__description
   &__description {
   }
   // .workers__stars
   &__stars {
   }
   // .workers__ann
   &__ann {
      @media (max-width:$tablet){
         .workers__position{
            width: 100%;
            display: flex;
            justify-content: flex-start !important;
         }
      }
   }
}
